* {
	margin: 0;
	padding: 0;
}
body {
	min-width: 1040px;
	font-family: 'PT Sans', sans-serif;
	color: #34312d;
	background-color: #f3f3f4;
	font-size: 20px;
}

#wrapper {
	width: 1020px;
	margin: 0 auto;
}

header {
	height: 360px;
	margin: 0px auto;
}

.menu-nav {
	display: flex;
	width: 1000px;
	margin: 0 auto;
	list-style: none;
}

.menu-nav li {
	position: relative;
	padding: 5px 0px 15px 0px;
	border-right: 3px solid #d9c5b2;
	width: 197px;
	height: 35px;
	text-align: center;
	background-color: #7e7f83;
}

.menu-nav li:last-child {
	border-right: none;
	width: 200px;
}

.menu-nav a {
	color: #d9c5b2;
	text-decoration: none;
	font-size: 28px;
}

.menu-nav li:hover {
	padding: 15px 0px 5px 0px;
	background-color: #34312d;
}

.menu-nav li:hover > a {
	color: #f3f3f4; 
}

.menu-nav a:hover::before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	top: 55px;
	left: 50%;
	margin-left: -20px;
	border: 20px solid #ffffff;
	border-top-color: #34312d;
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom: none;
}

.description {
	display: flex;
	width: 1000px;
	margin: 0 auto;
	padding-top: 5px;
}

.description a {
	text-decoration: none;
	color: #34312d;
	text-align: center;
	font-weight: bold;
}

figure {
	display: flex;
	width: 400px;
	height: 100px;
}

figure img {
	display: block;
	padding: 18px 68px 18px 68px;
	width: 64px;
}

figcaption {
	display: block;
	padding: 40px 0px;
}

img.logo-header {
	padding: 18px 4px 0px 4px;
	width: 192px;
}

div.anotherheader {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	background-color: #7e7f83;
	color: #d9c5b2;
	height: 50px;	
}

h2 {
	margin-left: 200px;
	font-weight: normal;
	font-size: 24px;
	text-align: center;
	width: 200px;
	height: 25px	
}

h2::before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	top: 50px;
	left: 300px;
	margin-left: -20px;
	border: 20px solid #ffffff;
 	border-top-color: #7e7f83;
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom: none;
}

h3 {
	display: inline-block;
	width: 600px;
	height: 23px;
	text-align: center;
	font-weight: normal;
	font-size: 18px;
}

section {
	display: flex;
	width: 1000px;
	margin: 0 auto;
	height: 350px;
	
}

table {
	border-collapse: collapse;
	margin: 25px 0px 25px 25px;
	width: 400px;
	/*border: 1px solid black;*/
}

tr:hover > td {
	background: #d9c5b2;
}

th, td {
	padding: 10px 10px;
	text-align: center;
	border: 1px solid black;
}

footer {
	background-color: #7e7f83;
	height: 135px;
	width: 1000px;
}

.grid-kantor tr:nth-child(odd), .converter tr:nth-child(1) {
	background: #d9c5b2;
}

.grid-kantor tr:hover > td, .converter tr:hover > td {
	background: none;
}

.converter {
	margin-left: 0px;
	width: 550px; 
}

.converter td {
	text-align: left;
}

.converter td label {
	margin-left: 75px;
}

.converter td input {
	margin-left: 75px;
	text-align: right;
	width: 300px;
}





